

#game {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: url(background.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  color:beige;
  overflow:hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;


}



h1 {
  font-size: 36px;
}
input {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 24px;
  background: linear-gradient(90deg, #2dbd6e, #8cd166);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top:8px;

}

button:hover {
  background-color: #3e8e41;
  transform:scale(1.1);
  cursor:pointer;
}

#score{
  color:red;
  font-size: 36px;
}

#replay{
  padding: 10px 20px;
  font-size: 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

#gameBox{
  background: linear-gradient(360deg,#053b3dd9, #0d524fd9);
  border-radius: 8px;
  padding-bottom: 5px;
  width:30%;
}

#hint{
  background: linear-gradient(90deg,#0e7d81d9, #36c7c0d9);
}
